/* You can add global styles to this file, and also import other style files */
@import "./assets/css/util.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Karla", sans-serif; }


.blue-button
{
  background: #2196F3;
  color: whitesmoke;
  padding: 1%;
}

.grey-button
{
  background: #009688;
  color: whitesmoke;
  padding: 1%;
}

.link-text
{
  color: dodgerblue;
}

.text-light-grey
{
  color: #767676;
}

.text-dark-grey
{
  color: #212121;
}
