<app-header></app-header>
<div class="container">

  <mat-card *ngIf="socketService.notifications.length > 0" class="m-t-30">
    <mat-list role="list">
      <div *ngFor="let notification of socketService.notifications">
        <div class="row m-t-10">
           <span class="col-1">
            <img [src]="notification.avatar" class="avatar">
          </span>
          <span class="col-10 m-t-10">
            {{formattedDate(notification.id)}} &nbsp;&nbsp; {{notification.title}}
          </span>

          <span class="col-1">
            <mat-icon (click)="closeNotification(notification.id)">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
                  fill="#767676"/>
              </svg>
            </mat-icon>
          </span>
        </div>
      </div>
    </mat-list>
  </mat-card>

  <div *ngIf="socketService.notifications.length===0" class="text-center m-t-100  p-t-100">
    <svg style="width:128px;height:128px" viewBox="0 0 24 24">
      <path d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21"
            fill="#9d9d9d"/>
    </svg>
    <h3 class="text-light-grey m-t-30">You don't have any notifications!</h3>
  </div>


</div>
